<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rutkowski001">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rutkowski001">
        <activity
            android:name=".NotesActivity"
            android:exported="true" />
        <activity
            android:name=".NewGalleryActivity"
            android:exported="true" />
        <activity
            android:name=".NewAlbumsActivity"
            android:exported="true" />
        <activity
            android:name=".PhotoActivity"
            android:exported="true" />
        <activity
            android:name=".GalleryActivity"
            android:exported="true" />
        <activity
            android:name=".NetworkActivity"
            android:exported="true" />
        <activity
            android:name=".CollageActivity"
            android:exported="true" />
        <activity
            android:name=".AlbumsActivity"
            android:exported="true" />
        <activity
            android:name=".CameraActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>